body{
    background-image: url('IMG/as.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h2{
    color: rgb(8, 8, 8);
}
p{
    color:rgb(234, 247, 234);   
}
h4{
    color: rgb(234, 248, 234);
    
}
header{
    float: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}